{# do usunięcia: #}
{# city.name.style #}

{% for y in 1..config.world.ySize %}
    {% for x in 1..config.world.xSize %}
        <div class="tile" data-x={{ x }} data-y={{ y }} style="background-color: rgb({{ style.map.background_colors[x][y] }})">
            {% for city_key, city in config.world.cities %}
                {% if city.position.x == x and city.position.y == y %}
                    <img src="{{ asset("assets/gfx/city.jpg") }}" class="city" data-id="{{ city_key }}">
                    <div class="city-name" style="{{ city.name_style }}">{{ city.name|raw }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}

{% set HEX_WIDTH = config.world.hexWidth %}
{% set HEX_HEIGHT = config.world.hexHeight %}

{% set H_SPACING = HEX_WIDTH * 0.75 %}
{% set V_SPACING = HEX_HEIGHT %}

{% set svgWidth = HEX_WIDTH + (config.world.xSize - 1) * H_SPACING %}

{% set svgHeight = config.world.ySize * HEX_HEIGHT + (HEX_HEIGHT / 2) %}

<svg
    id="map"
    width="{{ svgWidth }}"
    height="{{ svgHeight }}"
    xmlns="http://www.w3.org/2000/svg"
>

    <g id="terrain">

    {% for y in 1..config.world.ySize %}
        {% for x in 1..config.world.xSize %}

            {# ========================= #}
            {# OFFSET -> PIXEL (flat-top odd-q) #}
            {# ========================= #}

            {% set px = (x - 1) * H_SPACING %}
            {% set py = (y - 1) * V_SPACING + (((x - 1) % 2) * (HEX_HEIGHT / 2)) %}

            {# ========================= #}
            {# OFFSET -> AXIAL #}
            {# ========================= #}

            {% set q = (x - 1) %}
            {% set r = (y - 1) - (((x - 1) - ((x - 1) % 2)) / 2) %}

            {# ========================= #}
            {# HEX POINTS (flat-top) #}
            {# ========================= #}

            {% set cx = px + HEX_WIDTH / 2 %}
            {% set cy = py + HEX_HEIGHT / 2 %}

            {% set points =
                (cx - HEX_WIDTH * 0.25) ~ ',' ~ (cy - HEX_HEIGHT / 2) ~ ' ' ~
                (cx + HEX_WIDTH * 0.25) ~ ',' ~ (cy - HEX_HEIGHT / 2) ~ ' ' ~
                (cx + HEX_WIDTH * 0.5)  ~ ',' ~ cy ~ ' ' ~
                (cx + HEX_WIDTH * 0.25) ~ ',' ~ (cy + HEX_HEIGHT / 2) ~ ' ' ~
                (cx - HEX_WIDTH * 0.25) ~ ',' ~ (cy + HEX_HEIGHT / 2) ~ ' ' ~
                (cx - HEX_WIDTH * 0.5)  ~ ',' ~ cy
            %}

            <g
                class="hex"
                data-x="{{ x }}"
                data-y="{{ y }}"
                data-q="{{ q }}"
                data-r="{{ r }}"
            >

                <polygon
                    class="hex-tile"
                    points="{{ points }}"
                    fill="rgb({{ style.map.background_colors[x][y] }})"
                    stroke="rgba(0,0,0,0.25)"
                    stroke-width="1"
                />
            </g>

        {% endfor %}
    {% endfor %}

    </g>

    <g id="cities">

    {% for city_key, city in config.world.cities %}

        {% set x = city.position.x %}
        {% set y = city.position.y %}

        {# OFFSET -> PIXEL #}
        {% set px = (x - 1) * H_SPACING %}
        {% set py = (y - 1) * V_SPACING + (((x - 1) % 2) * (HEX_HEIGHT / 2)) %}

        {% set cx = px + HEX_WIDTH / 2 %}
        {% set cy = py + HEX_HEIGHT / 2 %}

        <g
            class="city-group"
            data-id="{{ city_key }}"
            data-x="{{ x }}"
            data-y="{{ y }}"
        >

            {# ikonka miasta #}
            <g class="city" transform="translate({{ cx }}, {{ cy }})">
                <text y="4" text-anchor="middle" font-size="15">🏠</text>
            </g>

            {# nazwa miasta #}
            <text
                x="{{ cx + city.name_position.dx }}"
                y="{{ cy + 34 + city.name_position.dy }}"
                text-anchor="{{ city.name_position.anchor }}"
                class="city-name"
            >
                {{ city.name|raw }}
            </text>

        </g>

    {% endfor %}

    </g>

</svg>