{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block body %}

<div class="main-container">
    <div><a href="{{ path("app_home") }}">Menu</a></div>

    <div class="mt-3">
    {% if result == 'winner' %}
        {% if score < oldHighscore %}
            <img src="{{ asset('assets/gfx/winner.png') }}"><br>
            Jesteś najbogatszy!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score == oldHighscore %}
            <img src="{{ asset('assets/gfx/winner.png') }}"><br>
            Brawo! Pokonałeś konkurentów i powtórzyłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score > oldHighscore %}
            <img src="{{ asset('assets/gfx/record.png') }}"><br>
            Gratulacje! Pokonałeś konkurentów i pobiłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% endif %}
    {% elseif result == 'remis' %}
        {% if score < oldHighscore %}
            <img src="{{ asset('assets/gfx/game_over.jpg') }}"><br>
            Jesteś jednym z najlepszych, ale Twój czas minął.<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score == oldHighscore %}
            <img src="{{ asset('assets/gfx/thumb.jpg') }}"><br>
            Brawo! Powtórzyłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score > oldHighscore %}
            <img src="{{ asset('assets/gfx/record.png') }}"><br>
            Gratulacje! Pobiłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% endif %}
    {% elseif result == 'loser' %}
        {% if score < oldHighscore %}
            <img src="{{ asset('assets/gfx/poor.png') }}"><br>
            Ale bieda! Twój czas minął.<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score == oldHighscore %}
            <img src="{{ asset('assets/gfx/thumb.jpg') }}"><br>
            Brawo! Nie pokonałeś konkurentów, ale powtórzyłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score > oldHighscore %}
            <img src="{{ asset('assets/gfx/record.png') }}"><br>
            Gratulacje! Nie pokonałeś konkurentów, ale pobiłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% endif %}
    {% elseif result == 'solo' %}
        {% if score < oldHighscore %}
            <img src="{{ asset('assets/gfx/game_over.jpg') }}"><br>
            Twój czas minął.<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score == oldHighscore %}
            <img src="{{ asset('assets/gfx/thumb.jpg') }}"><br>
            Brawo! Powtórzyłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% elseif score > oldHighscore %}
            <img src="{{ asset('assets/gfx/record.png') }}"><br>
            Gratulacje! Pobiłeś rekord!<br>
            Zakończyłeś grę z majątkiem {{ score|number_format(0, '.', ' ') }} $
        {% endif %}
    {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <table class="table text-center w-auto">
            <tbody>
            {% for item in results %}
                <tr class="{{ item.type == 'player' ? 'fw-bold' : '' }}">
                    <td>
                        {{ item.name ? item.name : 'Player' }}
                    </td>
                    <td>{{ item.gold|number_format(0, '.', ' ') }} $</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
