{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/popper.min.js') }}" defer></script>
    {{ parent() }}
    <script src="{{ asset('assets/js/src/City.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Good.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Library.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Trader.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/World.js') }}" defer></script>
    <script src="{{ asset('assets/js/game/main.js') }}" defer></script>
{% endblock %}

{% block body %}

<div class="main-container">
    <div class="js-data d-none" data-json="{{ data }}"></div>
    <div class="menu-container d-flex justify-content-between">
        <div class="menu-link"><a href="{{ path("app_home") }}">Menu</a></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" {{ config.general.tooltips }} id="checkShowTooltips">
            <label class="form-check-label" for="checkShowTooltips">
                Pokaż podpowiedzi
            </label>
        </div>
    </div>
    <div class="player-info container-fluid mt-3">
        {% include("game/_player_info.html.twig") %}
    </div>
    <div class="map" style="grid-template-columns: {{ style.map.grid_template_columns }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="
        Kliknij na ikonę miasta na mapie, aby się tam przemieścić. Ruch zakończy turę, więc nie zapomnij wcześniej kupić tanio jakiś towar! 
        Obecnie jestś w mieście oznaczonym literą G (jak Gracz).">
        {% include("game/_map.html.twig") %}
    </div>
    <div class="city-info container-fluid" data-bs-toggle="tooltip" data-bs-placement="top" 
        title="Klikając na przyciski kupujesz i sprzedajesz towary w mieście, w którym obecnie przebywasz. Kupuj tanio, a potem przenieś się do innego miasta,
        gdzie ten sam towar sprzedasz drożej! Ceny we wszystkich miastach masz poniżej.">
        {% include("game/_city_panel.html.twig") %}
    </div>
</div>


{% endblock %}
