{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block body %}

{{ dump() }}

<div class="main-container">
    <div><a href="{{ path("app_home") }}">Menu</a></div>
    <div class="player-info container-fluid mt-3">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>majątek</th>
                    <th>rekord planszy</th>
                    <th>pozostały czas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="wealth">9999999$</td>
                    <td class="stage-record">99999999$</td>
                    <td class="turns-left">10</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="map" style="grid-template-columns: {{ style.map.grid_template_columns }}">
        {% for y in 1..config.world.ySize %}
            {% for x in 1..config.world.xSize %}
                <div class="tile" data-x={{ x }} data-y={{ y }} style="background-color: rgb({{ style.map.background_colors[x][y] }})">
                    {% for city in config.world.cities %}
                        {% if city.position.x == x and city.position.y == y %}
                            <img src="{{ asset("assets/gfx/city.jpg") }}" class="city">
                            <div class="city-name" style="{{ city.name_style }}">{{ city.name|raw }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <table class="city-info table table-sm">city-info</table>
</div>


{% endblock %}
