{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/popper.min.js') }}" defer></script>
    {{ parent() }}
    <script src="{{ asset('assets/js/src/City.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Good.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Library.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/Trader.js') }}" defer></script>
    <script src="{{ asset('assets/js/src/World.js') }}" defer></script>
    <script src="{{ asset('assets/js/game/main.js') }}" defer></script>
{% endblock %}

{% block body %}

<div class="main-container">
    <div class="js-data d-none" data-json="{{ data }}"></div>
    <div><a href="{{ path("app_home") }}">Menu</a></div>
    <div class="player-info container-fluid mt-3">
        {% include("game/_player_info.html.twig") %}
    </div>
    <div class="map" style="grid-template-columns: {{ style.map.grid_template_columns }}">
        {% include("game/_map.html.twig") %}
    </div>
    <div class="city-info container-fluid">
        {% include("game/_city_panel.html.twig") %}
    </div>
</div>


{% endblock %}
