<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% block favicon %}{{ asset('assets/gfx/favicon.png') }}{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assets/js/jquery3.6.3.js') }}" defer></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
